1 广州市合熠智能科技股份有限公司 光电传感器 HEAYI UL-D21 UL-T21 photo-electric sensor
https://www.epion.cn/

2 方质 TR1 系列光电开光
www.fgzuql.com 
https://www.aliexpress.us/item/3256806134597545.html?src=google&gatewayAdapt=glo2usa

型号:NPN	UL-T21N
类型	对射型
检测距离	1.5m
光源	940nm红外LED
控制输出	NPN集电极开路24V；输出最大值：50mA 残余电流：15V
响应时间	最大3ms
保护电路	逆电极保护、短路保护
额定电压	12-24VDC
NPN	正常：最大360mW(24V时，最大15mA)
环境耐性：工作环境亮度	白炽灯：最大5000Lux；日光：最大20000Lux
环境耐性：工作环境温度	-20至+55%℃(无冻结)
环境耐性：工作环境湿度	35至85% RH(无凝结)
环境耐性：抗振性	10至55HZ,复合振幅1.5mm,X、Y、Z轴方向各2小时
外壳材质	聚碳酸酯
尺寸	11mm(H)x8mm (w)x22mm(D)

检测距离
1.5m（对射型）；100mm（反射型）
标准检测物体
Φ6mm以上不透明物体（对射）
光源
红外发光二极管（860nm）
反应时间
1ms以下
工作电压
12-24VDC
负载电流
100mA以下
保护等级
IP64
使用环境温度
-25~+55℃
使用环境湿度
35~85%RH
导线长度
2m