<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systematic price from Defuro</title>
    <script src="https://unpkg.com/vue@2"></script>
    <style>
        .line-red {
            background-color: #66cc66;
        }
        table {
    width: 100%;
    border-collapse: collapse;
  }
  @media screen and (min-width: 600px) {
    table {
    width: 60%;
  }
  }
       
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
 
    </style>

</head>
<body>
    <div id="app">
        <h1>
            Search 
            <Input v-model="search"></Input>
        </h1>
        <table>
         <th>Model</th>
         <th>Size </th>
         <th>Sn</th>
         <th>System</th>
         <th>Newest</th>
         <th>Franchise</th>
         <th>Voltage</th>

         <tr v-if="filteredSystemPrice.length" v-for="(sprice, spid) in filteredSystemPrice" :key="spid">
            <th>{{ sprice.Model }}</th>
            <th>{{ sprice.Dimension }}</th>
            <th>{{ sprice.Sn }}</th>
            <th>{{ sprice.SystemPrice }}</th>
            <th>{{ sprice.NewestPrice }}</th>
            <th>{{ sprice.FranchisePrice }}</th>
            <th>{{ sprice.Voltage }}</th>
         </tr>
        </table>
    </div>
    <script type="module">
        // import SysPrice  from "./api/test.js"
        import SysPrice from "./api/data.js";

        var app =  new Vue({
            el: '#app',
            data() {
                return {
                    sysPrice: '',
                    test: 'hello world',
                    search: '',
                }
            },
            computed: {
                filteredSystemPrice(){
                    return this.sysPrice.filter((item) => {
                        if(item.Model.toLowerCase().indexOf(this.search.replace(/\s+/g, '').toLowerCase()) != -1) {
                            return item;
                        }
                        if(this.search == '') {
                            return item;
                        }
                    })
                },
            },
            beforeMount() {
                console.log('logged');
                this.sysPrice = SysPrice;
                console.log('succcess loading data');
                console.log(this.sysPrice);
            },
            methods: {
            }
        })
    </script>
</body>
</html>