<div class="elem_table_basic">
    <table class="var_base_color elem_table_basic">
        <tbody>
            <tr>
                <th class="width20r">
                    Date
                </th>
                <td>
                    September 24, 2024 - September 28, 2024
                </td>
            </tr>
            <tr>
                <th>
                    City / Country
                </th>
                <td>
                                                                    <img src="//www.jetro.go.jp/images/flag/cn.gif" class="flag" alt="">
                                                                
                                                                <a href="/en/database/j-messe/country/asia/cn/009/">
                        Shanghai
                    </a> 
                    / 
                                                                                                            <a href="/en/database/j-messe/country/asia/cn/">
                        China
                    </a>
                    /
                                                                                                            <a href="/en/database/j-messe/country/asia/">
                        Asia
                    </a>
                                                                                                        </td>
            </tr>
            <tr>
                <th>
                    Venue
                </th>
                <td>
                                                                    <a target="_blank" href="/en/database/j-messe/center/china.html">National Exhibition and Convention Center (NECC)</a><br>
                                                                                                        </td>
            </tr>
            <tr>
                <th>
                    Items to be exhibited
                </th>
                <td>
                    Metalworking &amp; CNC machine tool, Industrial automation, Energy-saving &amp; Industrial accessories, Information &amp; Communication technology, Energy, New Energy Automobiles, Robotics, New materials, Scientific &amp; Technological innovation
                </td>
            </tr>
            <tr>
                <th>
                    For Visitors
                </th>
                <td>
                                                                Eligibility : Trade only
                                                                                                            <br>Method of admission : 
                        
                                                                                                                        Apply/register online
                        
                                                                        
                        
                                                                    
                    <br>For details, please contact the organizer directly.
                </td>
            </tr>
            <tr>
                <th>
                    Organizer
                </th>
                <td>
                    Shanghai Industry &amp; Commerce Exhibition Co., Ltd.
                                                                    <br>Address : 15F, Building T3, 55 Huiguan Street, Greenland Bund Center, Huangpu District, Shanghai, P.R. C.
                    
                    
                    
                                                                    <br>Tel : +86-21-22068388
                    
                                                                    <br>E-mail : <a href="mailto:ciif@shanghaiexpogroup.com">ciif@shanghaiexpogroup.com</a>
                                                                                                        </td>
            </tr>
                                            <tr>
                <th>
                    Message from organizer
                </th>
                <td>
                                                                                                                                                                                                                Held with concurrent exhibitions.			                                			                            </td>
            </tr>
                                                                                <tr>
                <th>
                    Industry
                </th>
                <td>
                    <div class="elem_text_list">
                        <ul>
                                                                                                                                                <li>
                                        <a href="/en/database/j-messe/industry/fundamental/002/">
                                            Fundamental Industries／Mining, Energy
                                        </a>
                                    </li>
                                                                                                                                                                                                        <li>
                                        <a href="/en/database/j-messe/industry/macchinery/002/">
                                            Machinery, Industrial Technology ／Machine Tools, Metalworking
                                        </a>
                                    </li>
                                                                                                                                                                                                        <li>
                                        <a href="/en/database/j-messe/industry/macchinery/008/">
                                            Machinery, Industrial Technology ／Manufacturing Technology &amp; Engineering
                                        </a>
                                    </li>
                                                                                                                                                                                                        <li>
                                        <a href="/en/database/j-messe/industry/ict/001/">
                                            Information, Telecommunication ／Telecommunication, Data Processing, Computer
                                        </a>
                                    </li>
                                                                                                                                                                                                        <li>
                                        <a href="/en/database/j-messe/industry/transportation/002/">
                                            Transportation, Logistics, Packaging ／Equipment &amp; Supply for Automotive Services
                                        </a>
                                    </li>
                                                                                                                                                                                                        <li>
                                        <a href="/en/database/j-messe/industry/environment/001/">
                                            Environment／Environmental Protection, Waste Disposal, Recycling
                                        </a>
                                    </li>
                                                                                                                                    </ul>
                    </div>
                </td>
            </tr>
                                                    <tr>
                    <th>
                        Frequency
                    </th>
                    <td>
                        Annual
                    </td>
                </tr>
            
                                                    <tr>
                    <th>
                        last fair information
                    </th>
                    <td>
                                                                            2023 year<br>
                        
                                                                            Total number of visitors : 
                                                                                    205278
                                                                                                                                    <br>
                        
                                                                            Total number of exhibitors : 
                                                                                    2978
                                                                                                                                                                                                    （including ： 438 foreign exhibitors）
                                                                                                                                        <br>
                        
                                                                            Expected floor size : 303,224 sq.m.<br>
                        
                                                                        The past records may include concurrent/joint exhibits.
                    </td>
                </tr>
            
                                                    <tr>
                    <th>Official website</th>
                    <td>
                        For more detailed information of the trade fair, please check <a target="_blank" href="https://www.ciif-expo.com/">the official website</a>
                        <img src="/library/icons/icon_blank.gif" alt="External site: a new window will open." title="" class="icon_external" height="12" width="17">
                         of the individual organizer.
                    </td>
                </tr>
            
            <tr>
                <th>
                    last update
                </th>
                <td>
                                                                    August 30, 2024
                                                            </td>
            </tr>
        </tbody>
    </table>
</div>
<div>https://www.jetro.go.jp/en/database/j-messe/tradefair/detail/135260</div>