<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
        padding: 30px 0;
        }
        table {
        border-top: 1px solid #eee;
        }

        tr {
        border-bottom: 1px solid rgb(239, 18, 239);
        }

        tr td {
        padding: 3px 6px;
        font-size: 16px;
        color: #000;
        }
        

    </style>
</head>
<body>
    <div class="content">
        <p class="label product_SKU_value">IDWE-M18MP-NMS-A0</p> 
        <table>
            <tbody class="product_cate_spec_list">
                <tr><td>传感器长度</td> <td>63.5 mm</td>
                </tr><tr><td>温度范围</td> <td>-25...+70°C</td>
                </tr><tr><td>最大开关频率</td> <td>125 Hz</td></tr><tr><td>工作电压范围</td> <td>18...30</td></tr><tr><td>重复精度</td> <td>&lt; 0.006 mm</td></tr><tr><td>最大感应范围</td> <td>0...11 mm</td></tr><tr><td>分辨率</td> <td>4 μm</td></tr><tr><td>极性</td> <td>PNP</td></tr><tr><td>输出</td> <td>OSS1/IO-Link + OSS2/INPUT</td></tr><tr><td>安装</td> <td>齐平</td></tr><tr><td>接口</td> <td>IO-Link</td></tr><tr><td>外壳材质</td> <td>镀铬黄铜</td></tr><tr><td>外壳尺寸[mm]</td> <td>M18</td></tr><tr><td>防护等级</td> <td>IP 67</td></tr><tr><td>工作距离</td> <td>0...10 mm</td></tr><tr><td>连接器</td> <td>M12 4芯</td></tr></tbody></table></div>
</body>
</html>