<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh clients list</title>
</head>
<body>
    <div class="container">
        
Welcome to BD Engineering & Machinery Ltd. one of the Bangladesh largest independent Importer & Distributor of professional  Industrial Automation and Process Control System also with Programble Logic Controller (PLC) Inverter-VFD and Motion Control system. Our main aim is to supply our customers with the best possible services, ensuring that your shopping experience is easy and hassle free from start to finish. We have a large team of experienced highly trained staff who are on hand to help you place an order, advise you on your purchase or deal with any problems that you may have.
Our highest priority is our customer support. We never compromise in it.
    </div>
    


</body>
</html>