<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>

</script>
<body>
    <div id="app">
        {{message}}
    </div>
</body>
<script type="module">
    import Clients from '../../api/clients.js'

    const { createApp, ref, reactive, onBeforeMount } = Vue

    createApp({

        setup() {
            const message = ref('hellow world')
            const clients = reactive([])

            onBeforeMount(()=>{
                // clients = reactive(Clients)
                // console.log(clients)
                console.log(test)
            })

            return {
                message
            }
        }
    }).mount('#app')
</script>
</html>