<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M12 Inductive Proximity Sensor</title>
    <script src="https://unpkg.com/vue@2"></script>
    <style>
        body {
            margin: 20px;
            width: 60%;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 60%;
            border-collapse: collapse;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>M12 Specification Sheet</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>DC 3-wire M12 Inductive Proximity Sensor</th>
        </tr>
        <tr>
            <td>Picture</td>
            <td>Wiring Diagrame</td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/pictures/hs-c12-n01-product.png" alt="" width="300px">
            </td>

            <td>
                <img src="../../assets/pictures/hs-c12-n01-wire.jpg" alt="" width="300px">
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Defuro or Custom</td>
        </tr>
        <tr>
            <td>Dimension</td>
            <td>M12</td>
        </tr>
        <tr>
            <td>Length</td>
            <td>22mm</td>
        </tr>
        <tr>
            <td>Installation</td>
            <td>Flush</td>
        </tr>
        <tr>
            <td>Sensing Distance</td>
            <td>2mm</td>
        </tr>
        <tr>
            <td>Material</td>
            <td>Nickel plated brass</td>
        </tr>
        <tr>
            <td>Facing Material</td>
            <td>POM</td>
        </tr>
        <tr>
            <td>Operating Voltage</td>
            <td>10-30VDC</td>
        </tr>
        <tr>
            <td>Ripple Voltage</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>No Load Current</td>
            <td>10mA</td>
        </tr>
        <tr>
            <td>Maximum Load Current</td>
            <td>200mA</td>
        </tr>
        <tr>
            <td>Leaked Current</td>
            <td>0.01mA</td>
        </tr>
        <tr>
            <td>Voltage Drop</td>
            <td><2.0V</td>
        </tr>
        <tr>
            <td>Switch Frequence</td>
            <td>2KHZ</td>
        </tr>
        <tr>
            <td>Response Time</td>
            <td>0.1ms/0.1ms</td>
        </tr>
        <tr>
            <td>Hystereris</td>
            <td>15%(Sr)</td>
        </tr>
        <tr>
            <td>Repeat Accuracy</td>
            <td>1.0%(Sr)</td>
        </tr>
        <tr>
            <td>IP Level</td>
            <td>IP67</td>
        </tr>
        <tr>
            <td>Operate Temperature</td>
            <td>-25℃-+70℃</td>
        </tr>
        <tr>
            <td>Temperature Drift</td>
            <td>10%(Sr)</td>
        </tr>
        <tr>
            <td>Circuit Protection</td>
            <td>short circuit protection</td>
        </tr>
        <tr>
            <td>Overload Current</td>
            <td>220mA</td>
        </tr>
        <tr>
            <td>Output</td>
            <td>NPN NO</td>
        </tr>
        <tr>
            <td>Connector</td>
            <td>axial cable exit</td>
        </tr> 
        <tr>
            <td>ItemNumber</td>
            <td>HS-C12-N01</td>
        </tr>
        <tr>
            <td>Indicator</td>
            <td>YES</td>
        </tr>

    </table>
</body>
</html>