<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mobile-container mobile-main-menu-container animating">
        <div class="mobile-wrapper-header">
          <span>Menu</span>
              <a class="x"></a>
        </div>
        <div class="mobile-main-menu-wrapper">
                <div id="main-menu-240-1" class="main-menu main-menu-219 accordion-menu">
          <ul class="j-menu">            <li class="menu-item main-menu-item main-menu-item-1 multi-level dropdown drop-menu ">
                                    <a href="https://www.flyrobo.in/combo-kit-flyrobo" class="collapse-toggle">
                    <span class="links-text">DIY Project Kit</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-219-1"><i class="fa fa-plus"></i></span>
                                    <span class="menu-label">Hot</span>
                                </a>
                                      <div class="collapse " id="collapse-219-1">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c116">
                        <a href="https://www.flyrobo.in/combo-kit-flyrobo/arduino-project-kit-flyrobo"><span class="links-text">Arduino compatable Project Kit</span><span class="count-badge ">20</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c117">
                        <a href="https://www.flyrobo.in/combo-kit-flyrobo/drone-combo-kit-flyrobo"><span class="links-text">Drone Combo Kit</span><span class="count-badge ">51</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c118">
                        <a href="https://www.flyrobo.in/combo-kit-flyrobo/e-bike-combo-kit-flyrobo"><span class="links-text">E-Bike Combo kit</span><span class="count-badge count-zero ">0</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c139">
                        <a href="https://www.flyrobo.in/combo-kit-flyrobo/iot-kits"><span class="links-text">IOT Kits</span><span class="count-badge ">4</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item main-menu-item main-menu-item-2 dropdown flyout drop-menu open" data-is-open="">
                                    <a class="collapse-toggle">
                    <span class="links-text">All Departments</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-219-6" aria-expanded="true"><i class="fa fa-plus"></i></span>
                                </a>
                                                          <div class="collapse in" id="collapse-219-6">
                          <div id="flyout-menu-240-1" class="flyout-menu flyout-menu-305 accordion-menu">
          <ul class="j-menu">            <li class="menu-item flyout-menu-item flyout-menu-item-1 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/development-board-and-accessories" class="collapse-toggle">
                    <span class="links-text">Development Board and Accessories</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-1"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-1">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c138">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/arduino-kits2"><span class="links-text">Arduino Compatable Kits</span><span class="count-badge ">3</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c59 dropdown">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/arduino_world" class="collapse-toggle">
                <span class="links-text">Arduino Compatable</span><span class="count-badge ">1</span>
                <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-3"><i class="fa fa-plus"></i></span>
              </a>
                 <div class="collapse" id="collapse-305-3">
             <ul class="j-menu">
                                <li class="menu-item menu-item-c68">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/arduino_world/arduino_board"><span class="links-text">Arduino compatable Board</span><span class="count-badge ">39</span></a>
                  </li>
      
                      </ul>
           </div>
            </li>
      
                                              <li class="menu-item menu-item-c93 dropdown">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/raspberry-pi" class="collapse-toggle">
                <span class="links-text">Raspberry Pi</span><span class="count-badge count-zero ">0</span>
                <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-5"><i class="fa fa-plus"></i></span>
              </a>
                 <div class="collapse" id="collapse-305-5">
             <ul class="j-menu">
                                <li class="menu-item menu-item-c95">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/raspberry-pi/raspberry-pi-accessories"><span class="links-text">Raspberry Pi Accessories</span><span class="count-badge ">82</span></a>
                  </li>
      
                                <li class="menu-item menu-item-c94">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/raspberry-pi/raspberry-pi-board"><span class="links-text">Raspberry Pi Board</span><span class="count-badge ">13</span></a>
                  </li>
      
                      </ul>
           </div>
            </li>
      
                                              <li class="menu-item menu-item-c69">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/arduino-sensor"><span class="links-text">Sensors</span><span class="count-badge ">1146</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c72">
                        <a href="https://www.flyrobo.in/development-board-and-accessories/arduino_all"><span class="links-text">Other</span><span class="count-badge ">344</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-2 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/Multirotor" class="collapse-toggle">
                    <span class="links-text">Multirotor</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-10"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-10">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c63">
                        <a href="https://www.flyrobo.in/Multirotor/Multirotor_motor"><span class="links-text">Brushless Motor</span><span class="count-badge ">66</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c64">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_esc"><span class="links-text">ESC</span><span class="count-badge ">39</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c65">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_frame"><span class="links-text">Frame</span><span class="count-badge ">35</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c71">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_battery"><span class="links-text">Battery and Charger</span><span class="count-badge ">25</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c66">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_flight_controller"><span class="links-text">Flight Controller</span><span class="count-badge ">64</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c67">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_propeller"><span class="links-text">Propellers</span><span class="count-badge ">42</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c74">
                        <a href="https://www.flyrobo.in/Multirotor/rc_remote"><span class="links-text">Rc Remote</span><span class="count-badge ">33</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c86">
                        <a href="https://www.flyrobo.in/Multirotor/fpv-multirotor"><span class="links-text">FPV</span><span class="count-badge ">41</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c91">
                        <a href="https://www.flyrobo.in/Multirotor/ready-to-fly"><span class="links-text">Ready To Fly</span><span class="count-badge ">5</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c73">
                        <a href="https://www.flyrobo.in/Multirotor/multirotor_other"><span class="links-text">Other</span><span class="count-badge ">253</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-3 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/batteries-and-chargers" class="collapse-toggle">
                    <span class="links-text">Multirotor</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-21"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-21">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c134">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/battery-accessories-and-holders"><span class="links-text">Battery Accessories &amp; Holders</span><span class="count-badge ">62</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c135">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/battery-connector"><span class="links-text">Battery Connector</span><span class="count-badge ">55</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c130">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/battery-protection-board"><span class="links-text">Battery Protection Board</span><span class="count-badge ">75</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c132">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/lifepo4-battery"><span class="links-text">LiFePO4 Battery</span><span class="count-badge ">8</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c123">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/lipo-battery"><span class="links-text">LiPo Battery</span><span class="count-badge ">18</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c131">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/lithium-ion-batteries"><span class="links-text">Lithium-Ion Battery</span><span class="count-badge ">24</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c133">
                        <a href="https://www.flyrobo.in/batteries-and-chargers/non-rechargeable-battery"><span class="links-text">Non Rechargeable Battery</span><span class="count-badge ">6</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-4 multi-level ">
                                    <a href="https://www.flyrobo.in/Ebike">
                    <span class="links-text">E-Bike</span>
                                </a>
                              </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-5 multi-level ">
                                    <a href="https://www.flyrobo.in/robot-spare-parts">
                    <span class="links-text">Robot Spares</span>
                                </a>
                              </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-6 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/motor-and-driver" class="collapse-toggle">
                    <span class="links-text">Motor and  Driver</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-31"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-31">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c79">
                        <a href="https://www.flyrobo.in/motor-and-driver/dc-gear-motor"><span class="links-text">DC Gear Motor</span><span class="count-badge ">54</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c77">
                        <a href="https://www.flyrobo.in/motor-and-driver/servo-motor-and-accessories"><span class="links-text">Servo Motor and Accessories</span><span class="count-badge ">39</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c78">
                        <a href="https://www.flyrobo.in/motor-and-driver/stepper-motor-and-drivers"><span class="links-text">Stepper Motor and Drivers</span><span class="count-badge ">59</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-7 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/3d-printer-and-accessories" class="collapse-toggle">
                    <span class="links-text">3D Printer Accessories</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-35"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-35">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c119">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/3d-printed-product"><span class="links-text">3D Printed Product</span><span class="count-badge ">7</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c126">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/3d-printer-couplings"><span class="links-text">3D Printer Couplings</span><span class="count-badge ">55</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c124">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/3d-printer-nozzle"><span class="links-text">3D Printer Nozzle</span><span class="count-badge ">40</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c92">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/3d-printers"><span class="links-text">3D Printers</span><span class="count-badge ">12</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c83">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/wanhao-filament"><span class="links-text">Filament</span><span class="count-badge ">27</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c84">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/power-supply"><span class="links-text">Power Supply - 3D Printer</span><span class="count-badge ">4</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c125">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/timing-belt-and-pulley"><span class="links-text">Timing Belt and Pulley</span><span class="count-badge ">97</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c113">
                        <a href="https://www.flyrobo.in/3d-printer-and-accessories/3d-printer-and-accessories-other"><span class="links-text">Other</span><span class="count-badge ">85</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-8 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/core-electronics-component" class="collapse-toggle">
                    <span class="links-text">Electronic Components</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-44"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-44">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c88">
                        <a href="https://www.flyrobo.in/core-electronics-component/capacitors-electronics-components"><span class="links-text">Capacitors</span><span class="count-badge ">49</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c110">
                        <a href="https://www.flyrobo.in/core-electronics-component/electronic-accessories"><span class="links-text">Electronic Accessories</span><span class="count-badge ">117</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c90">
                        <a href="https://www.flyrobo.in/core-electronics-component/ics-integrated-circuits-chips"><span class="links-text">ICs - Integrated Circuits &amp; Chips</span><span class="count-badge ">144</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c111">
                        <a href="https://www.flyrobo.in/core-electronics-component/led-light-emitting-diode"><span class="links-text">LED Light-emitting Diode</span><span class="count-badge ">61</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c120">
                        <a href="https://www.flyrobo.in/core-electronics-component/electronics-pcb-and-boards"><span class="links-text">PCB and Boards</span><span class="count-badge ">27</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c89">
                        <a href="https://www.flyrobo.in/core-electronics-component/resistors-electronic-components"><span class="links-text">Resistors</span><span class="count-badge ">122</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c112">
                        <a href="https://www.flyrobo.in/core-electronics-component/other-electronics-components"><span class="links-text">Other</span><span class="count-badge ">258</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-9 multi-level dropdown ">
                                    <a href="https://www.flyrobo.in/tools-and-accessories" class="collapse-toggle">
                    <span class="links-text">Tools and Accessories</span>
                    <span class="open-menu collapsed" data-toggle="collapse" data-target="#collapse-305-52"><i class="fa fa-plus"></i></span>
                                </a>
                                      <div class="collapse " id="collapse-305-52">
                    <ul class="j-menu">
                                              <li class="menu-item menu-item-c121">
                        <a href="https://www.flyrobo.in/tools-and-accessories/allen-keys"><span class="links-text">Allen Keys</span><span class="count-badge ">14</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c108">
                        <a href="https://www.flyrobo.in/tools-and-accessories/glue-gun-and-accessories"><span class="links-text">Glue Gun &amp; Accessories</span><span class="count-badge ">14</span></a>
                  </li>
      
                                              <li class="menu-item menu-item-c107">
                        <a href="https://www.flyrobo.in/tools-and-accessories/soldering-and-accessories"><span class="links-text">Soldering &amp; Accessories</span><span class="count-badge ">73</span></a>
                  </li>
      
                                    </ul>
                  </div>
                                                  </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-10 multi-level ">
                                    <a href="https://www.flyrobo.in/heat-shrink-category">
                    <span class="links-text">Heat Shrink</span>
                                </a>
                              </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-11 multi-level ">
                                    <a href="https://www.flyrobo.in/smart-home">
                    <span class="links-text">Smart Home</span>
                                </a>
                              </li>
                      <li class="menu-item flyout-menu-item flyout-menu-item-12 multi-level ">
                                    <a href="https://www.flyrobo.in/other">
                    <span class="links-text">Other</span>
                                </a>
                              </li>
              </ul>
        </div>
      
                  </div>
                              </li>
                      <li class="menu-item main-menu-item main-menu-item-16 multi-level drop-menu ">
                                    <a href="https://www.flyrobo.in/blog">
                    <span class="links-text">Blog</span>
                                    <span class="menu-label">New</span>
                                </a>
                              </li>
                      <li class="menu-item main-menu-item main-menu-item-18 multi-level drop-menu ">
                                    <a href="https://www.flyrobo.in/index.php?route=extension/ciformbuilder/form&amp;page_form_id=5">
                    <span class="links-text">Flyrobo Import</span>
                                    <span class="menu-label">New</span>
                                </a>
                              </li>
              </ul>
        </div>
      
        </div>
      </div>
</body>
</html>