<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Company</h1>
   <p>
    Defuro was set up since 2008 and has started the production of proximity sensor since 2017 and currently was constituted by around 70 members in total. The research team consist of 4 sophisiticated engineers and 3 technical staff supporting new products development and after-sale technical issue.

   </p>
    <p>
        
    </p>
</body>
</html>