<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
        font-family: Delivery,Verdana,sans-serif;
        font-size: .625rem
    }
    body{
        font-size: 1.6rem;
    }
    .container{
        height: 100%;
        margin: 0 auto;
        max-width: 136rem;
        min-width: 32rem;
    }
        h1,h2,h3,h4,h5,h6{
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">

    <h1>
        
11th to 14th August 2025, Hall No.2,3 & 6, BEC Goregaon, Mumbai.
    </h1>
    <div>
        Links: https://www.automationindiaexpo.com/profile/tianjin-elco-automation-co.%2C-ltd
    </div>
    <h3>
        Exhibitors
    </h3>
        <div>
        TIANJIN ELCO AUTOMATION CO., LTD
        </div>
        <div>
Stall No : O-28,O-30
        </div>
        <div>
Hall No : 2

        </div>
    </div>
    
</body>
</html>