<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h2 class="text-black"><span>Inductive Sensors - Cylindrical - DC</span></h2>
            <div class="col-md-12">
                <table cellspacing="0" cellpadding="0" border="0" width="" class="table panel-default custab"> 
                        <tbody>						 
                                            <tr>
                                                <td class="tabhead" align="center" rowspan="2">
                                                    <b>Image</b>
                                                </td>
                                                <td class="tabhead" rowspan="2" align="center" width="150">
                                                    <b>Diameter
                                                    <br>
                                                    (mm)</b>
                                                </td>
                                                <td class="tabhead" rowspan="2" align="center" width="100">
                                                    <b>Length<br>
                                                    (mm)</b>
                                                </td>
                                                <td class="tabhead" colspan="2" align="center" width="150">
                                                    <b>Distance (mm)</b>
                                                </td>
                                                <td class="tabhead" rowspan="2" align="center" width="150">
                                                    <b>Output<br>
                                                    Options</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tabhead" align="center">
                                                    <b>Flush</b>
                                                </td>
                                                <td class="tabhead" width="100" align="center">
                                                    <b>Non-Flush</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                      <img src="img/products/ind_cyl_dc_65_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 1"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    6.5
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    48
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    2
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO
                                                </td>
                                            </tr>
                                             
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m8_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 2"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M8 x 1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    48
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    2
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m8p_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 3"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M8 x 1<br>
                                                    Plug-in
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    60
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    2
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO
                                                </td>
                                            </tr>
                                             
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m12_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 4"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M12 x 1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    60
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    2
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    4
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                             
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m12p_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 5"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M12 x 1<br>
                                                    Plug-in<br>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    60
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    2
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    4
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m18_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 5"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M18 x 1
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    80
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    5
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    8
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                             
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m18p_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 6"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M18 x 1<br>
                                                    Plug-in
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    98
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    5
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    8
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO
                                                </td>
                                            </tr>
                                             
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m30_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 7"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M30 x 1.5<br>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    80
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    10
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    15
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m30p_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 8"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M30 x 1.5<br>
                                                    Plug-in<br>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    95
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    10
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    15
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m36_small1.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 9"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M36 x 1.5
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    80
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    -
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    20
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="tabcontent">
                                                    <a href="#">
                                                        <img src="img/products/ind_cyl_dc_m50_small.jpg" class="img-thumbnail" alt="Inductive Sensors - Cylindrical - DC 10"></a>
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    M50 x 1.5
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    80
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    -
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    30
                                                </td>
                                                <td class="tabcontent" align="center">
                                                    NPN or PNP,<br>
                                                    NO or NC
                                                </td>
                                            </tr>
                                        </tbody>
                    </table> 
            </div>
        </div>
    </section>
</body>
</html>