关于 IO link产品：
carlo gavazzi 公司

IO link 通用的开放通信标准协议，允许启用 IO link 的设备交换，收集和分析数据并将其转为可操作信息。
IEC 61131-9 国际标准，被认为工业自动化环境中传感器和执行器的 USB接口。

通过 IO link 传感器可以把数据传输到控制系统上，每个IO LINk 传感器都有一个 IODD 设备描叙，它描叙了传感器的功能, 参数，过程数据，诊断数据及用户界面配置。每个传感器都有内部ID。

io link 可以快速配置何更改传感器参数，从而大大减少产品更换停机时间，增加安装灵活性和多样性。

IOlink 传感器连接到IOlink 端口时，IOlink主站将唤醒请求发送到传感器，传感器自动切换到 IOlink模式，并主动开始在主机和传感器之间点对点双向通信。

IOlink 技术具有抗干扰能力强，无讯号损失，简化布线网络，断线监控，数据存储, 远程参数设置，扩展诊断等优势。
【https://www.elecfans.com/d/2453819.html】



供应商：
虹科  hk0IOLD-OEM 


IO link 到 IO LINK WIRELESS
[https://www.elecfans.com/d/2306135.html]
关于 IO link产品：
carlo gavazzi 公司

IO link 通用的开放通信标准协议，允许启用 IO link 的设备交换，收集和分析数据并将其转为可操作信息。
IEC 61131-9 国际标准，被认为工业自动化环境中传感器和执行器的 USB接口。

通过 IO link 传感器可以把数据传输到控制系统上，每个IO LINk 传感器都有一个 IODD 设备描叙，它描叙了传感器的功能, 参数，过程数据，诊断数据及用户界面配置。每个传感器都有内部ID。

io link 可以快速配置何更改传感器参数，从而大大减少产品更换停机时间，增加安装灵活性和多样性。

IOlink 传感器连接到IOlink 端口时，IOlink主站将唤醒请求发送到传感器，传感器自动切换到 IOlink模式，并主动开始在主机和传感器之间点对点双向通信。

IOlink 技术具有抗干扰能力强，无讯号损失，简化布线网络，断线监控，数据存储, 远程参数设置，扩展诊断等优势。
【https://www.elecfans.com/d/2453819.html】



供应商：
虹科  hk0IOLD-OEM 

IO-Link的定义和特点
https://www.elecfans.com/d/6059368.html


IO link 到 IO LINK WIRELESS
[https://www.elecfans.com/d/2306135.html]


初识IO-Link及IO-Link设备软件协议栈
[https://www.elecfans.com/d/3820727.html]


